# Module 1: Data Validation Process

In [1]:
#import library packages
import pandas as p
import matplotlib.pyplot as plt
import seaborn as s
import numpy as n

In [2]:
df = p.read_csv("aqi.csv")

In [3]:
df

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,70.0,108.0,42.0,PM2.5
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,76.0,102.0,43.0,PM10
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,73.0,118.0,46.0,NO2
3,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,5.0,6.0,4.0,NH3
4,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,41.0,109.0,2.0,SO2
5,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,44.0,102.0,18.0,CO
6,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,29.0,35.0,12.0,OZONE
7,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,NaN,NaN,NaN,PM2.5
8,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,NaN,NaN,NaN,PM10
9,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,NaN,NaN,NaN,NO2
10,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,NaN,NaN,NaN,NH3
11,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,NaN,NaN,NaN,SO2
12,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,30.0,103.0,2.0,CO
13,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,108.0,130.0,51.0,OZONE
14,India,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati - APPCB",21-12-2018 03:00:00,46.0,72.0,28.0,PM2.5
15,India,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati - APPCB",21-12-2018 03:00:00,64.0,83.0,40.0,PM10
16,India,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati - APPCB",21-12-2018 03:00:00,61.0,89.0,36.0,NO2
17,India,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati - APPCB",21-12-2018 03:00:00,2.0,3.0,2.0,NH3
18,India,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati - APPCB",21-12-2018 03:00:00,10.0,12.0,6.0,SO2
19,India,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati - APPCB",21-12-2018 03:00:00,16.0,25.0,6.0,CO
20,India,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati - APPCB",21-12-2018 03:00:00,36.0,58.0,27.0,OZONE
21,India,Andhra_Pradesh,Vijayawada,"PWD Grounds, Vijayawada - APPCB",21-12-2018 03:00:00,46.0,73.0,32.0,PM2.5
22,India,Andhra_Pradesh,Vijayawada,"PWD Grounds, Vijayawada - APPCB",21-12-2018 03:00:00,65.0,74.0,50.0,PM10
23,India,Andhra_Pradesh,Vijayawada,"PWD Grounds, Vijayawada - APPCB",21-12-2018 03:00:00,15.0,18.0,13.0,NO2
24,India,Andhra_Pradesh,Vijayawada,"PWD Grounds, Vijayawada - APPCB",21-12-2018 03:00:00,2.0,3.0,2.0,NH3
25,India,Andhra_Pradesh,Vijayawada,"PWD Grounds, Vijayawada - APPCB",21-12-2018 03:00:00,14.0,23.0,11.0,SO2
26,India,Andhra_Pradesh,Vijayawada,"PWD Grounds, Vijayawada - APPCB",21-12-2018 03:00:00,41.0,78.0,34.0,CO
27,India,Andhra_Pradesh,Visakhapatnam,"GVM Corporation, Visakhapatnam - APPCB",21-12-2018 03:00:00,71.0,96.0,53.0,PM2.5
28,India,Andhra_Pradesh,Visakhapatnam,"GVM Corporation, Visakhapatnam - APPCB",21-12-2018 03:00:00,76.0,101.0,54.0,PM10
29,India,Andhra_Pradesh,Visakhapatnam,"GVM Corporation, Visakhapatnam - APPCB",21-12-2018 03:00:00,39.0,81.0,13.0,NO2
...,...,...,...,...,...,...,...,...,...
794,India,West_Bengal,Howrah,"Ghusuri, Howrah - WBPCB",21-12-2018 03:00:00,53.0,148.0,18.0,CO
795,India,West_Bengal,Howrah,"Ghusuri, Howrah - WBPCB",21-12-2018 03:00:00,29.0,58.0,2.0,OZONE
796,India,West_Bengal,Howrah,"Padmapukur, Howrah - WBPCB",21-12-2018 03:00:00,329.0,420.0,217.0,PM2.5
797,India,West_Bengal,Howrah,"Padmapukur, Howrah - WBPCB",21-12-2018 03:00:00,217.0,377.0,129.0,PM10
798,India,West_Bengal,Howrah,"Padmapukur, Howrah - WBPCB",21-12-2018 03:00:00,1.0,5.0,1.0,NO2
799,India,West_Bengal,Howrah,"Padmapukur, Howrah - WBPCB",21-12-2018 03:00:00,6.0,6.0,5.0,NH3
800,India,West_Bengal,Howrah,"Padmapukur, Howrah - WBPCB",21-12-2018 03:00:00,9.0,22.0,2.0,SO2
801,India,West_Bengal,Howrah,"Padmapukur, Howrah - WBPCB",21-12-2018 03:00:00,34.0,121.0,21.0,CO
802,India,West_Bengal,Howrah,"Padmapukur, Howrah - WBPCB",21-12-2018 03:00:00,163.0,163.0,1.0,OZONE
803,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",21-12-2018 03:00:00,383.0,500.0,301.0,PM2.5
804,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",21-12-2018 03:00:00,302.0,500.0,176.0,PM10
805,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",21-12-2018 03:00:00,94.0,158.0,47.0,NO2
806,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",21-12-2018 03:00:00,3.0,5.0,1.0,NH3
807,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",21-12-2018 03:00:00,16.0,34.0,6.0,SO2
808,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",21-12-2018 03:00:00,12.0,28.0,12.0,CO
809,India,West_Bengal,Kolkata,"Rabindra Bharati University, Kolkata - WBPCB",21-12-2018 03:00:00,154.0,154.0,1.0,OZONE
810,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",21-12-2018 03:00:00,280.0,377.0,165.0,PM2.5
811,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",21-12-2018 03:00:00,183.0,313.0,125.0,PM10
812,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",21-12-2018 03:00:00,57.0,121.0,4.0,NO2
813,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",21-12-2018 03:00:00,26.0,56.0,6.0,NH3
814,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",21-12-2018 03:00:00,13.0,30.0,3.0,SO2
815,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",21-12-2018 03:00:00,48.0,134.0,27.0,CO
816,India,West_Bengal,Kolkata,"Victoria, Kolkata - WBPCB",21-12-2018 03:00:00,61.0,114.0,4.0,OZONE
817,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",21-12-2018 03:00:00,136.0,297.0,44.0,PM2.5
818,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",21-12-2018 03:00:00,129.0,178.0,45.0,PM10
819,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",21-12-2018 03:00:00,49.0,83.0,14.0,NO2
820,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",21-12-2018 03:00:00,8.0,13.0,2.0,NH3
821,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",21-12-2018 03:00:00,5.0,8.0,2.0,SO2
822,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",21-12-2018 03:00:00,33.0,67.0,14.0,CO
823,India,West_Bengal,Siliguri,"Ward-32 Bapupara, Siliguri - WBPCB",21-12-2018 03:00:00,33.0,65.0,7.0,OZONE

In [4]:
#show columns
df.columns

Index(['Country', 'State', 'city', 'place', 'lastupdate', 'Avg', 'Max', 'Min',
       'Pollutants'],
      dtype='object')

In [5]:
#shape of the dataframe
df.shape

(824, 9)

In [6]:
#To describe the dataframe
df.describe()

              Avg         Max         Min
count  788.000000  788.000000  788.000000
mean    96.736041  149.675127   50.855330
std    114.746642  150.264480   74.279885
min      1.000000    1.000000    1.000000
25%     20.000000   35.000000    7.000000
50%     50.000000  103.000000   20.000000
75%    108.000000  180.250000   54.000000
max    457.000000  500.000000  335.000000

In [7]:
#Checking datatype and information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 824 entries, 0 to 823
Data columns (total 9 columns):
Country       824 non-null object
State         824 non-null object
city          824 non-null object
place         824 non-null object
lastupdate    824 non-null object
Avg           788 non-null float64
Max           788 non-null float64
Min           788 non-null float64
Pollutants    824 non-null object
dtypes: float64(3), object(6)
memory usage: 58.0+ KB

Checking duplicate values of dataframe

In [8]:
#Checking for duplicate data
df.duplicated()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
794    False
795    False
796    False
797    False
798    False
799    False
800    False
801    False
802    False
803    False
804    False
805    False
806    False
807    False
808    False
809    False
810    False
811    False
812    False
813    False
814    False
815    False
816    False
817    False
818    False
819    False
820    False
821    False
822    False
823    False
Length: 824, dtype: bool

In [9]:
#find sum of duplicate data
sum(df.duplicated())

0

In [10]:
#Checking sum of missing values
df.isnull().sum()

Country        0
State          0
city           0
place          0
lastupdate     0
Avg           36
Max           36
Min           36
Pollutants     0
dtype: int64

To validate avg pollution values

In [11]:
#Checking minimum or maximum of average pollution values
print("Minimum value of average pollution is:", df.Avg.min())
print("Maximum value of average pollution is:", df.Avg.max())

Minimum value of average pollution is: 1.0
Maximum value of average pollution is: 457.0

In [12]:
#check the average pollution range
print("Avg pollution range :", sorted(df['Avg'].unique()))

Avg pollution range : [2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0, 11.0, 12.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 38.0, 39.0, 40.0, 41.0, 44.0, 45.0, 46.0, 47.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 59.0, 61.0, 63.0, 64.0, 65.0, 68.0, 70.0, 72.0, 73.0, 74.0, 75.0, 76.0, nan, 1.0, 9.0, 13.0, 37.0, 42.0, 43.0, 48.0, 49.0, 57.0, 58.0, 60.0, 62.0, 66.0, 67.0, 69.0, 71.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 110.0, 111.0, 112.0, 113.0, 114.0, 115.0, 118.0, 119.0, 120.0, 121.0, 122.0, 124.0, 125.0, 126.0, 127.0, 129.0, 130.0, 131.0, 136.0, 138.0, 139.0, 141.0, 142.0, 144.0, 146.0, 148.0, 149.0, 150.0, 154.0, 156.0, 157.0, 160.0, 161.0, 163.0, 164.0, 165.0, 167.0, 176.0, 177.0, 180.0, 183.0, 185.0, 187.0, 190.0, 193.0, 195.0, 201.0, 203.0, 204.0, 207.0, 214.0, 217.0, 221.0, 223.0, 228.0, 229.0, 231.0, 232.0, 235.0, 238.0, 240.0, 241.0, 247.0, 253.0, 257.0, 265.0, 266.0, 269.0, 272.0, 274.0, 276.0, 277.0, 278.0, 280.0, 287.0, 297.0, 302.0, 304.0, 305.0, 307.0, 308.0, 311.0, 314.0, 317.0, 318.0, 320.0, 321.0, 323.0, 325.0, 329.0, 333.0, 336.0, 337.0, 339.0, 341.0, 342.0, 345.0, 349.0, 350.0, 354.0, 356.0, 358.0, 359.0, 360.0, 361.0, 364.0, 370.0, 371.0, 372.0, 373.0, 374.0, 377.0, 378.0, 379.0, 380.0, 381.0, 383.0, 385.0, 388.0, 389.0, 390.0, 392.0, 393.0, 395.0, 396.0, 397.0, 401.0, 406.0, 408.0, 410.0, 411.0, 413.0, 414.0, 418.0, 420.0, 421.0, 426.0, 431.0, 433.0, 436.0, 439.0, 457.0]

# Air Quality Index Details (for India):

In [13]:
#check the over pollution value from AQI Remark
good=df.query('Avg<=50') # Between 0 - 50
satisfactor=df.query('Avg>50 & Avg<=100') # Between 51 - 100
moderate=df.query('Avg>100 & Avg<=200') # Between 101 - 200
poor=df.query('Avg>200 & Avg<=300') # Between 201 - 300
verypoor=df.query('Avg>300 & Avg<=400') # Between 301 - 400
servers=df.query('Avg>400') # Between 400 - 500 (above 400)

In [14]:
good.head()

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
3,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,5.0,6.0,4.0,NH3
4,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,41.0,109.0,2.0,SO2
5,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,44.0,102.0,18.0,CO
6,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,29.0,35.0,12.0,OZONE
12,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,30.0,103.0,2.0,CO

In [15]:
satisfactor.head()

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
0,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,70.0,108.0,42.0,PM2.5
1,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,76.0,102.0,43.0,PM10
2,India,Andhra_Pradesh,Amaravati,"Secretariat, Amaravati - APPCB",21-12-2018 03:00:00,73.0,118.0,46.0,NO2
15,India,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati - APPCB",21-12-2018 03:00:00,64.0,83.0,40.0,PM10
16,India,Andhra_Pradesh,Tirupati,"Tirumala, Tirupati - APPCB",21-12-2018 03:00:00,61.0,89.0,36.0,NO2

In [16]:
moderate.head()

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
13,India,Andhra_Pradesh,Rajamahendravaram,"Anand Kala Kshetram, Rajamahendravaram - APPCB",21-12-2018 03:00:00,108.0,130.0,51.0,OZONE
49,India,Delhi,Delhi,"Alipur, Delhi - DPCC",21-12-2018 03:00:00,131.0,194.0,61.0,NO2
71,India,Delhi,Delhi,"Aya Nagar, Delhi - IMD",21-12-2018 03:00:00,114.0,116.0,100.0,CO
83,India,Delhi,Delhi,"Burari Crossing, Delhi - IMD",21-12-2018 03:00:00,106.0,110.0,71.0,CO
103,India,Delhi,Delhi,"Dr. Karni Singh Shooting Range, Delhi - DPCC",21-12-2018 03:00:00,150.0,150.0,1.0,OZONE

In [17]:
poor.head()

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
69,India,Delhi,Delhi,"Aya Nagar, Delhi - IMD",21-12-2018 03:00:00,257.0,424.0,125.0,PM10
98,India,Delhi,Delhi,"Dr. Karni Singh Shooting Range, Delhi - DPCC",21-12-2018 03:00:00,278.0,413.0,129.0,PM10
104,India,Delhi,Delhi,"Dwarka-Sector 8, Delhi - DPCC",21-12-2018 03:00:00,228.0,346.0,78.0,PM2.5
122,India,Delhi,Delhi,"ITO, Delhi - CPCB",21-12-2018 03:00:00,272.0,420.0,164.0,PM10
143,India,Delhi,Delhi,"Lodhi Road, Delhi - IMD",21-12-2018 03:00:00,274.0,428.0,150.0,PM10

In [18]:
verypoor.head()

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
33,India,Bihar,Gaya,"Collectorate, Gaya - BSPCB",21-12-2018 03:00:00,342.0,456.0,226.0,PM2.5
47,India,Delhi,Delhi,"Alipur, Delhi - DPCC",21-12-2018 03:00:00,389.0,475.0,247.0,PM2.5
48,India,Delhi,Delhi,"Alipur, Delhi - DPCC",21-12-2018 03:00:00,314.0,446.0,154.0,PM10
62,India,Delhi,Delhi,"Ashok Vihar, Delhi - DPCC",21-12-2018 03:00:00,333.0,455.0,194.0,PM10
68,India,Delhi,Delhi,"Aya Nagar, Delhi - IMD",21-12-2018 03:00:00,329.0,430.0,153.0,PM2.5

In [19]:
servers.head()

,Country,State,city,place,lastupdate,Avg,Max,Min,Pollutants
38,India,Bihar,Muzaffarpur,"Muzaffarpur Collectorate, Muzaffarpur - BSPCB",21-12-2018 03:00:00,436.0,500.0,270.0,PM2.5
43,India,Bihar,Patna,"IGSC Planetarium Complex, Patna - BSPCB",21-12-2018 03:00:00,457.0,500.0,325.0,PM2.5
61,India,Delhi,Delhi,"Ashok Vihar, Delhi - DPCC",21-12-2018 03:00:00,418.0,500.0,313.0,PM2.5
90,India,Delhi,Delhi,"DTU, Delhi - CPCB",21-12-2018 03:00:00,401.0,500.0,234.0,PM2.5
128,India,Delhi,Delhi,"Jahangirpuri, Delhi - DPCC",21-12-2018 03:00:00,426.0,500.0,325.0,PM2.5

In [20]:
df.Pollutants.unique()

array(['PM2.5', 'PM10', 'NO2', 'NH3', 'SO2', 'CO', 'OZONE'], dtype=object)

In [21]:
PMkitchen = df.loc[df['Pollutants'] == 'PM2.5']
PMclean = df.loc[df['Pollutants'] == 'PM10']
N02 = df.loc[df['Pollutants'] == 'NO2']
NH3 = df.loc[df['Pollutants'] == 'NH3']
S02 = df.loc[df['Pollutants'] == 'SO2']
CO = df.loc[df['Pollutants'] == 'CO']
O3 = df.loc[df['Pollutants'] == 'OZONE']

In [22]:
n_pollutants = df.Pollutants.nunique()   

pmk = PMkitchen.shape[0]
pmc = PMclean.shape[0] 
n = N02.shape[0] 
nh = NH3.shape[0]
s = S02.shape[0] 
c = CO.shape[0] 
o = O3.shape[0]

print ("total number of Pollutants:", n_pollutants)


print("")
print ("Number of Kitchen pollution - Particulate Matter(PM2.5) affected in each state:",pmk )
print ("Number of Dust pollution - Particulate Matter(PM10) affected in each state:",pmc )
print ("Number of Chemical pollution - Nitrogen dioxide(N02) affected in each state:",n)
print ("Number of Chemical pollution - Ammonia(NH3) affected in each state:",nh )
print ("Number of Chemical pollution - Sulfur dioxide(SO2) affected in each state:",s)
print ("Number of Chemical pollution - Carbon monoxide(CO) affected in each state:",c)
print ("Number of Chemical pollution - Ozone(O3) affected in each state:",o)

total number of Pollutants: 7

Number of Kitchen pollution - Particulate Matter(PM2.5) affected in each state: 127
Number of Dust pollution - Particulate Matter(PM10) affected in each state: 108
Number of Chemical pollution - Nitrogen dioxide(N02) affected in each state: 129
Number of Chemical pollution - Ammonia(NH3) affected in each state: 92
Number of Chemical pollution - Sulfur dioxide(SO2) affected in each state: 121
Number of Chemical pollution - Carbon monoxide(CO) affected in each state: 128
Number of Chemical pollution - Ozone(O3) affected in each state: 119

In [23]:
df.columns

Index(['Country', 'State', 'city', 'place', 'lastupdate', 'Avg', 'Max', 'Min',
       'Pollutants'],
      dtype='object')

In [24]:
# percent of missing "Avg Pollution" 
print('Percent of missing "Average pollution values" records is %.2f%%' %((df['Avg'].isnull().sum()/df.shape[0])*100))

Percent of missing "Average pollution values" records is 4.37%

In [25]:
listTN = df[df["State"]=="TamilNadu"]
listTN.shape

(15, 9)

In [26]:
p.Categorical(df['Pollutants']).describe()

            counts     freqs
categories
CO             128  0.155340
NH3             92  0.111650
NO2            129  0.156553
OZONE          119  0.144417
PM10           108  0.131068
PM2.5          127  0.154126
SO2            121  0.146845

In [27]:
df['Pollutants'].value_counts()

NO2      129
CO       128
PM2.5    127
SO2      121
OZONE    119
PM10     108
NH3       92
Name: Pollutants, dtype: int64

In [28]:
df.corr()

          Avg       Max       Min
Avg  1.000000  0.960141  0.933346
Max  0.960141  1.000000  0.859276
Min  0.933346  0.859276  1.000000